<div class="cover-container cover d-flex w-100 p-3 mx-auto flex-column animated fadeIn fast">
  <div class="container m-auto bg-light p-4 mt-76px">
    <h1 class="text-center mb-5 text-dark-blue">About Avengers</h1>
    <p>
      The Marvel Cinematic Universe (in English, Marvel Cinematic Universe) is a shared universe created by Marvel Studios, designated as Earth-199999 within the Marvel multiverse. The universe is mainly composed of films made independently by Marvel Studios that are always within this same reality, just like Marvel as it has done with its comics.
    </p>
    <p>
      The universe was also extended to a series of short films, called Marvel One-Shots, included in the Blu-ray version of each movie from Thor and ending with Thor: The Dark World. These short films, however, were eventually suspended, until the release of Spider-Man: Far From Home Blu-ray.
    </p>
    <p>
      As of the launch of Agents of S.H.I.E.L.D., the universe expanded into television series, including series released on ABC and Freeform channels, and on Netflix, Hulu and Disney + streaming platforms.
    </p>
    <p>
      The franchise also includes web series such as the WHiH Newsfront news program. Other content to mention are comics and video games, released as promotional material for films, all within the same reality. However, some of them, especially video games, do not match the events that appear in other products after their launch, and are classified as non-canonical parts of this universe.
    </p>
  </div>
</div>
