blockquote p {
  font-family: 'Kavoon', cursive;
  font-size: 2.5rem;
}

.blockquote-footer {
  font-family: 'Pangolin', cursive;
  font-size: 1.3rem;
}

.blockquote-footer::after {
    content: "\2014\00A0";
}

.container > p {
  font-size: 1.5rem;
}

.image-movie img {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.description-movie {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.description-movie p.title {
  font-family: 'Gobold_CUTS';
  font-size: 1.5rem;
  /* font-weight: bold; */
}

.movie:hover {
  cursor: pointer;
}

.bg-dark-blue .movie:hover {
  box-shadow: 0 0 20px var(--bg-black);
}

.bg-light-blue .movie:hover {
  box-shadow: 0 0 20px var(--text-light-gray);
}
