.container-iron-man, .container-captain-america, .container-thor, .container-hulk, .container-black-widow, .container-hawkeye, .container-vision, .container-quicksilver, .container-scarlet-witch, .container-ant-man, .container-doctor-strange,.container-spider-man, .container-black-panther, .container-falcon, .container-captain-marvel {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 80rem var(--bg-black);
}

.container-iron-man {
  background-image: url(../../../assets/img/portfolios/iron-man-portada.jpg);
}
.container-captain-america {
  background-image: url(../../../assets/img/portfolios/captain-america-portada.jpg);
}
.container-thor {
  background-image: url(../../../assets/img/portfolios/thor-portada.jpg);
}
.container-hulk {
  background-image: url(../../../assets/img/portfolios/hulk-portada.jpg);
}
.container-black-widow {
  background-image: url(../../../assets/img/portfolios/black-widow-portada.jpg);
}
.container-hawkeye {
  background-image: url(../../../assets/img/portfolios/hawkeye-portada.jpg);
}
.container-vision {
  background-image: url(../../../assets/img/portfolios/vision-portada.jpg);
}
.container-quicksilver {
  background-image: url(../../../assets/img/portfolios/quicksilver-portada.jpg);
}
.container-scarlet-witch {
  background-image: url(../../../assets/img/portfolios/scarlet-witch-portada.jpg);
}
.container-ant-man {
  background-image: url(../../../assets/img/portfolios/ant-man-portada.jpg);
}
.container-doctor-strange {
  background-image: url(../../../assets/img/portfolios/doctor-strange-portada.jpg);
}
.container-spider-man {
  background-image: url(../../../assets/img/portfolios/spider-man-portada.jpg);
}
.container-black-panther{
  background-image: url(../../../assets/img/portfolios/black-panther-portada.jpg);
}
.container-falcon {
  background-image: url(../../../assets/img/portfolios/falcon-portada.jpg);
}
.container-captain-marvel {
  background-image: url(../../../assets/img/portfolios/captain-marvel-portada.jpg);
}

.card-img-top {
  border-radius: 0;
}

blockquote p {
  font-family: BRADHITC;
  font-size: 1.8rem;
  font-weight: bold;
}

.blockquote-footer {
  font-family: 'Pangolin', cursive;
  font-size: 1.3rem;
}

.blockquote-footer::after {
    content: "\2014\00A0";
}

.bg-dark-blue .blockquote-footer {
  color: var(--text-blue-bg-dark-blue);
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 0.8;
}

.d-block.w-100.h-100 {
  object-fit: cover;
}

@media (max-width: 576px) {
  .container img.rounded {
    margin-bottom: 1rem;
    width: 100% !important;
  }
  .carousel-item.h-100 {
    height: 30rem !important;
  }
}
