.container-iron-man, .container-captain-america, .container-thor, .container-hulk, .container-black-widow, .container-hawkeye, .container-vision, .container-quicksilver, .container-scarlet-witch, .container-ant-man, .container-doctor-strange,.container-spider-man, .container-black-panther, .container-falcon, .container-captain-marvel {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 80rem var(--bg-black);
}

.container-iron-man {
  background-image: url(../../../assets/img/portfolios/iron-man-portada.jpg);
}
.container-captain-america {
  background-image: url(../../../assets/img/portfolios/captain-america-portada.jpg);
}
.container-thor {
  background-image: url(../../../assets/img/portfolios/thor-portada.jpg);
}
.container-hulk {
  background-image: url(../../../assets/img/portfolios/hulk-portada.jpg);
}
.container-black-widow {
  background-image: url(../../../assets/img/portfolios/black-widow-portada.jpg);
}
.container-hawkeye {
  background-image: url(../../../assets/img/portfolios/hawkeye-portada.jpg);
}
.container-vision {
  background-image: url(../../../assets/img/portfolios/vision-portada.jpg);
}
.container-quicksilver {
  background-image: url(../../../assets/img/portfolios/quicksilver-portada.jpg);
}
.container-scarlet-witch {
  background-image: url(../../../assets/img/portfolios/scarlet-witch-portada.jpg);
}
.container-ant-man {
  background-image: url(../../../assets/img/portfolios/ant-man-portada.jpg);
}
.container-doctor-strange {
  background-image: url(../../../assets/img/portfolios/doctor-strange-portada.jpg);
}
.container-spider-man {
  background-image: url(../../../assets/img/portfolios/spider-man-portada.jpg);
}
.container-black-panther{
  background-image: url(../../../assets/img/portfolios/black-panther-portada.jpg);
}
.container-falcon {
  background-image: url(../../../assets/img/portfolios/falcon-portada.jpg);
}
.container-captain-marvel {
  background-image: url(../../../assets/img/portfolios/captain-marvel-portada.jpg);
}

.card-img-top {
  border-radius: 0;
}

blockquote p {
  font-family: BRADHITC;
  font-size: 1.8rem;
  font-weight: bold;
}

.blockquote-footer {
  font-family: 'Pangolin', cursive;
  font-size: 1.3rem;
}

.blockquote-footer::after {
    content: "\2014\00A0";
}

.bg-dark-blue .blockquote-footer {
  color: var(--text-blue-bg-dark-blue);
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 0.8;
}

.d-block.w-100.h-100 {
  object-fit: cover;
}

@media (max-width: 576px) {
  .container img.rounded {
    margin-bottom: 1rem;
    width: 100% !important;
  }
  .carousel-item.h-100 {
    height: 30rem !important;
  }
}

p {
  font-size: 1.2rem;
  font-family: 'Myriad Pro';
  margin-bottom: 2.5rem;
}

/****** ASIDE *******/

aside.actor {
  background: var(--bg-dark-blue-footer);
  clear: right;
  color: #D5D4D4;
  float: right;
  font-family: 'Myriad Pro';
  margin: 0 0 1rem 1.5rem;
}

.actor h2 {
  background: var(--text-link-footer);
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0;
  padding: 0.67rem 1rem;
}

.actor h3 {
  font-size: 0.93rem;
  font-weight: bold;
  margin-bottom: 0;
}

.actor .row {
  padding-bottom: 0.5rem;
}

.actor .col-md-4 {
  padding-left: 1.5rem;
}

.actor .col-md-8 {
  font-size: 0.93rem;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 20px;
}

.actor .row ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.actor .row ul li {
  padding-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .actor   .col-md-4 {
    padding-left: 2rem;
  }
  .actor .col-md-8 {
    padding-left: 2rem;
    padding-top: 0.5rem;
  }
}

@media (min-width: 1200px) {
  .movie {
    height: 20rem;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .movie {
    height: 9rem;
    width: 51.8%;
  }
}

@media (min-width: 768px) {
  .movie {
    height: 14.5rem;
    width: 61.8%;
  }
}

@media (min-width: 576px) {
  .movie {
    height: 24rem;
    width: 63%;
  }
}

@media (max-width: 576px) {
  .movie {
    height: 24rem;
    width: 63.7%;
  }
}

.movie {
    /* width: 63.7%;
    height: 24rem; */
    /* width: 63%;
    height: 24rem; */
    /* width: 61.8%;
    height: 14.5rem; */
    /* width: 51.8%;
    height: 9rem; */
    /* width: 100%;
    height: 20rem; */
    margin-bottom: 1rem;
}
