@font-face {
  font-family: Gobold_Bold;
  src: url(assets/fonts/Gobold_bold.otf);
}

@font-face {
  font-family: Lovely_Home;
  src: url(assets/fonts/Lovely_Home.ttf);
}

@font-face {
  font-family: Gobold_CUTS;
  src: url(assets/fonts/Gobold_CUTS.otf);
}

@font-face {
  font-family: BRADHITC;
  src: url(assets/fonts/BRADHITC.ttf);
}
