:root {
  --bg-black: #000;
  --bg-white: #FFF;
  --bg-red-angular: #AC4D54;
  --text-dark-gray: #505050;
  --text-light-gray: #A7A7A7;
  --bg-dark-blue: #606D95;
  --text-blue-bg-dark-blue: #C9D4DE;
  --bg-dark-blue-footer: #28314C;
}
